html {
    background-color:  rgb(0, 162, 255);
    background: url(https://i.pinimg.com/originals/90/80/60/9080607321ab98fa3e70dd24b2513a20.gif) no-repeat fixed 50% 50%;
    padding-top: 60px;
    background-size: cover;
  }

  h1 {
    color: black;
    padding-left: 1px;
    margin-top: 5px;
  }
